.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 60vh;
}

.about-title {
    color: #fff;
    font-size: 50px;
    font-weight: 50;
}

.about-content {
    padding: 30px;
    font-size: 20px;
    font-weight: 50;
    color: #fff;
    text-align: center;
}